@tailwind base;
@tailwind components;
@tailwind utilities;
 

*{
  margin: 0%;
  padding: 0%;
}
.main-Hero{
  background-image: url(../../public/Hero.jpg);
  background-position: center;
  background-size: cover;
} 
.parent-hero{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-hero-page{
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width:500px) {
      width: 98%;
  }
}