@tailwind base;
@tailwind components;
@tailwind utilities;
 

*{
  margin: 0%;
  padding: 0%;
}
.main-Hero{
  background-image: url(../../public/Hero.jpg);
  background-position: center;
  background-size: cover;
} 