@tailwind base;
@tailwind components;
@tailwind utilities;
 

*{
  margin: 0%;
  padding: 0%;
}
.main-Hero{
  background-image: url(../../public/Hero.jpg);
  background-position: center;
  background-size: cover;
} 
.parent-hero{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-hero-page{
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media screen and (max-width:500px) {
      width: 96%;
  }
}
.mainHero-About{
  background-image: url(../../public/Assets/Images/About-page//hero.jpg);
  width: 100%;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: end;
}
.mainHero-About h1{
  color: white;
  font-size: 45px;
  font-weight: 400;
  margin: 50px 20px;
 @media screen and (max-width:400px) {
    font-size: 30px;
 }
}
.mainHero-Contact{
  background-image: url(../../public/Assets/Images/Contact\ Hero/contacthero.jpg);
  width: 100%;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: end;
}
.mainHero-Contact h1{
  color: white;
  font-size: 45px;
  font-weight: 400;
  margin: 50px 20px;
 @media screen and (max-width:400px) {
    font-size: 30px;
 }
}
.sub-About1{
  background-image: url(../../public/Assets/Images/About-page/buy\ \ now.png);
}
.sub-About2{
  background-image: url(../../public/Assets/Images/About-page/buy\ now2.png);
}